<div class="container-fluid">
  <div class="border border-3 border-primary container rounded recipe-c mb-5 mt-5">
    <div class="my-3">
      <h2><%= @recipe.name%></h2>
    </div>
    <div>
      <div class="split">
        <div class="d-flex justify-content-between">
          <h5>Preparation time: <%= @recipe.preparation_time %> min </h5>
          <div class="public-btn">
            <% if @recipe.public %>
              <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                <label class="form-check-label" for="flexSwitchCheckChecked">Public</label>
              </div>
            <% end %>
            <% if !@recipe.public %>
              <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                <label class="form-check-label" for="flexSwitchCheckDefault"></label>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div>
        <h5 class="pt-2">Cooking time: <%= @recipe.cooking_time %> min </h5>
        <h5 class="pt-2 pb-4">How to: </h5>
        <p><%= @recipe.description %></p>
      </div>
      <div class="d-flex">
        <% if user_signed_in? %>
          <div class="d-flex w-100 justify-content-between mb-3">
            <%= link_to "Generate Shopping list", recipe_shopping_lists_path(@recipe.id), :class => "btn btn-success btn-gen" %>
            <%= link_to "Add ingredient", new_recipe_recipe_food_path(@recipe) , class: "btn btn-success btn-gen "%>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="container w-90">
    <table class="table table-bordered table-striped recipe-table">
      <thead class="text-center">
        <tr>
          <th scope="col">Ingredient</th>
          <th scope="col">Quantity</th>
          <th scope="col">Value</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <% @recipe.recipe_foods.each do |food| %>
          <tr>
            <th scope="row"><%= food.food.name %></th>
            <td><%= food.quantity  %> x <%= food.food.measurement_unit %></td>
            <td>$<%= food.food.price * food.quantity %></td>
            <td class="table-btn d-flex flex-row justify-content-between">
              <% if user_signed_in? %>
              <% if can? :destroy, @recipe %>
                <%=button_to "Delete", recipe_recipe_food_path(recipe_id: @recipe.id, id: food.id), method: :delete, class:"btn btn-outline-danger btn-sm"%>
                <%=link_to "Modify", edit_recipe_recipe_food_path(recipe_id: @recipe.id, id: food.id), class:"btn btn-outline-primary btn-sm"%>
              <%end%>
              <%end%>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
