<div>
  <h1 class="font-bold text-4xl text-center">Ingredients</h1>
  <div>
    <%= link_to "Add ingredient", new_food_path, class:"btn btn-success create" %>
    <%
=begin%>
 <button type="button"><%= link_to 'Add ingredient', new_food_path %></button> 
<%
=end%>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Ingredient</th>
        <th scope="col">Measurement unit</th>
        <th scope="col">Unit price</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <% @foods.each do |food| %>
      <tbody>
        <tr>
          <td><%= food.name %></td>
          <td><%= food.measurement_unit %></td>
          <td><%= food.price %></td>
          <td><%= button_to "Delete", food_path(id: food.id), method: :delete, class:"btn btn-outline-danger btn-sm" %></td>
        </tr>
      </tbody>
    <% end %>
  </table>
</div>
