<div>
  <h1 class="font-bold text-4xl text-center">Ingredients</h1>
  <div>
    <button type="button"><%= link_to 'Add ingredient', new_food_path %></button>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Ingredient</th>
        <th scope="col">Measurement unit</th>
        <th scope="col">Unit price</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <% @foods.each do |food| %>
      <tbody>
        <tr>
          <td><%= food.name %></td>
          <td><%= food.measurement_unit %></td>
          <td><%= food.price %></td>
          <td><%= link_to 'Delete', "#{foods_path}/#{food.id}", method: :delete %></td>
        </tr>
      </tbody>
    <% end %>
  </table>
</div>
