<h2>Add new ingredient</h2>
<div>
  <%= form_with model: @food, url: "/foods/new" do |form| %>
    <%= form.hidden_field :user_id, value: current_user.id %>

    <div>
      <%= form.label :name %><br>
      <%= form.text_field :name, placeholder: 'Name' %>
    </div>

    <div>
      <%= form.label :measurement_unit %><br>
      <%= form.text_field :measurement_unit, placeholder: 'Measurement unit' %>
    </div>

    <div class="text-field">
      <%= form.label :price %><br>
      <%= form.number_field :price, placeholder: 'Price' %>
    </div>

    <div>
      <%= form.submit %>
    </div>
  <% end %>
</div>
