<h2 class="heading">Add Ingredient for this recipe</h2>
<div>
  <%= form_with  model: [@recipe, @recipe.recipe_foods.create], class:"input-form"  do |f|%>
    <div class="form-div" >

      <div class="mb-3 col-sm-4">
        <%= f.label :Ingredient, class:"form-label" %><br>
        <%= f.select :food_id, current_user.foods.collect {|food| [food.name, food.id]},{ include_blank: true} , class:"form-select" %><br>
      </div>

      <div class="mb-3 col-sm-4">
        <%= f.label :quantity, class:"form-label" %><br>
        <%= f.number_field :quantity ,  class:"form-control" , required: true, placeholder: '1',  min: 1%><br>
      </div>

      <div class="mb-3 col-sm-2">
        <%= f.submit "Add", class:"btn btn-success form-control" %>
      </div>
    </div>
  <%end%>
  <div class="form-div back" >
    <div class="mb-3 col-sm-2">
      <%=link_to 'Back', recipe_path(@recipe.id), class:"btn btn-warning form-control"%>
    </div>
  </div>
</div>
